$zero: 0 !default

// normalize
$body-min-width: 300px !default
$body-rendering: optimizeLegibility !default
$body-overflow-x: hidden !default
$body-overflow-y: scroll !default

// text
$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Open Sans', sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

// font-weight
$weight-light: 300 !default
$weight-regular: 400 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default


// body 1 regular
$text-body-one-regular-size:              16px !default
$text-body-one-regular-weight:            $weight-regular
$text-body-one-regular-line-height:       24px !default
$text-body-one-regular-letter-spacing:    $zero !default

// body 1 bold
$text-body-one-bold-size:                 16px !default
$text-body-one-bold-weight:               $weight-bold
$text-body-one-bold-line-height:          24px !default
$text-body-one-bold-letter-spacing:       $zero

// body 2 regular
$text-body-two-regular-size:              14px !default
$text-body-two-regular-weight:            $weight-regular !default
$text-body-two-regular-line-height:       20px !default
$text-body-two-regular-letter-spacing:    $zero !default

// body 2 bold
$text-body-two-bold-size:                 14px !default
$text-body-two-bold-weight:               $weight-bold !default
$text-body-two-bold-line-height:          20px !default
$text-body-two-bold-letter-spacing:       $zero !default

// button
$text-button-size:                      16px !default
$text-button-weight:                    $weight-bold !default
$text-button-line-height:               20px !default
$text-button-letter-spacing:            $zero

// caption
$text-caption-size:                     12px !default
$text-caption-weight:                   $weight-regular !default
$text-caption-line-height:              18px !default
$text-caption-letter-spacing:           .4px !default

// overline
$text-overline-size:                     12px !default
$text-overline-weight:                   $weight-regular !default
$text-overline-line-height:              18px !default
$text-overline-letter-spacing:           2px !default

// h1 hero desktop
$heading-one-hero-desktop-size:                 48px !default
$heading-one-hero-desktop-line-height:          56px !default
$heading-one-hero-desktop-letter-spacing:       .25px !default

// h1 hero mobile
$heading-one-hero-mobile-size:                  36px !default
$heading-one-hero-mobile-line-height:           48px !default
$heading-one-hero-mobile-letter-spacing:        .25px !default

// h1 desktop
$heading-one-desktop-size:                      32px !default
$heading-one-desktop-line-height:               40px !default
$heading-one-desktop-letter-spacing:            .25px !default

// h1 mobile
$heading-one-mobile-size:                       32px !default
$heading-one-mobile-line-height:                40px !default
$heading-one-mobile-letter-spacing:             .25px !default

// h2 desktop
$heading-two-desktop-size:                      28px !default
$heading-two-desktop-line-height:               36px !default
$heading-two-desktop-letter-spacing:            .15px !default

// h2 mobile
$heading-two-mobile-size:                       20px !default
$heading-two-mobile-line-height:                32px !default
$heading-two-mobile-letter-spacing:             .25px !default

// h3 desktop
$heading-three-desktop-size:                    24px !default
$heading-three-desktop-line-height:             36px !default
$heading-three-desktop-letter-spacing:          $zero !default

// h3 mobile
$heading-three-mobile-size:                     18px !default
$heading-three-mobile-line-height:              24px !default
$heading-three-mobile-letter-spacing:           .25px !default

// h4
$heading-four-size:                             24px !default
$heading-four-line-height:                      36px !default
$heading-four-letter-spacing:                   .25px !default

// h5
$heading-five-size:                             18px !default
$heading-five-line-height:                      24px !default
$heading-five-letter-spacing:                   .5px !default


$base: 4px !default
$border-width: 1px !default

$size-extra-small: $base !default
$size-small: ($base * 2) !default
$size-regular: ($base * 3) !default
$size-large: ($base * 5) !default
$size-extra-large: ($base * 8) !default

$mobile-container-width: 100% !default
$tablet-container-width: 100% !default
$desktop-container-width: 1244px !default

$mobile-column-gap: $size-small !default
$tablet-column-gap: $size-regular !default
$desktop-column-gap: $size-regular !default

$columns: 12 !default

// miscellaneous
$easing: ease-in !default
$radius-small: ($base / 2) !default
$radius: $base !default
$radius-large: ($base * 2) !default
$radius-rounded: 100% !default
$transition: 86ms !default
$transition-medium: ($transition * 2) !default
$transition-low: ($transition-medium * 2) !default
$transition-click: $transition-low !default
$content: ' '
