.input
  $self: &
  display: inline-flex
  position: relative

  &#{$self}--is-inline
    margin: auto ($size-regular / 2)

    &:first-of-type
      margin-left: $zero

    &:last-of-type
      margin-right: $zero

  &#{$self}--is-block
    margin: ($size-regular / 2) auto
    width: 100%

    &:first-of-type
      margin-top: $zero

    &:last-of-type
      margin-bottom: $zero

  &:hover
    #{$self}__marker
      background: $input-marker-background-hover

  #{$self}__text
    font-size: 16px
    font-weight: $weight-regular
    line-height: 24px

  #{$self}__marker
    background-color: $input-marker-background
    border: solid 2px $color-secondary
    border-radius: 50%
    height: 24px
    left: $zero
    position: absolute
    top: $zero
    width: 24px

    &:after // sass-lint:disable-line pseudo-element
      content: $content
      display: none
      position: absolute

  #{$self}__radio,
  #{$self}__checkbox
    +unselectable
    cursor: pointer
    display: block
    padding-left: 36px
    position: relative

    input[type='checkbox'], // sass-lint:disable-line force-attribute-nesting no-qualifying-elements
    input[type='radio'] // sass-lint:disable-line force-attribute-nesting no-qualifying-elements
      cursor: pointer
      opacity: $zero
      position: absolute

      &:checked + #{$self}__marker
        background-color: $input-marker-background
        border-color: $color-secondary

        &::after // sass-lint:disable-line pseudo-element nesting-depth
          display: block

        &:hover // sass-lint:disable-line nesting-depth
          background-color: $input-marker-background-hover

        &+ #{$self}__text // sass-lint:disable-line nesting-depth
          font-weight: $weight-bold

    #{$self}__marker
      &::after // sass-lint:disable-line pseudo-element
        background: $color-secondary
        border-radius: 50%
        height: 8px
        left: 6px
        top: 6px
        width: 8px

    &:hover
      input[type='radio'] // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
        &+ #{$self}__marker
          &::after // sass-lint:disable-line pseudo-element force-pseudo-nesting nesting-depth
            border-radius: 50%
            box-shadow: $zero $zero $zero 2px $input-marker-background
            content: $content

  #{$self}__checkbox
    #{$self}__marker
      border-radius: $zero

      &::after // sass-lint:disable-line pseudo-element
        background: inherit
        border: solid $color-secondary
        border-radius: $zero
        border-width: $zero 2px 2px $zero
        height: 10px
        left: 7px
        top: 3px
        transform: rotate(45deg)
        width: 5px
