@import '../../variables'
@import '../../mixins'


.hero
  background-color: $color-gray-two
  border-radius: $radius
  height: 100vh
  padding: $size-extra-large
  width: 100%

  &--has-no-radius
    border-radius: $zero

  &--is-extra-small
    height: 180px

  &--is-small
    height: 240px

  &--is-large
    height: 400px

  &--is-extra-large
    height: 600px

