@import '../../variables'
@import '../../colors'
@import '../../mixins'


.hero
  background-color: $color-gray-two
  border-radius: $radius
  padding: $size-extra-large
  width: 100%

  &--has-no-radius
    border-radius: $zero

  &--is-medium
    min-height: 200px

  &--is-large
    min-height: 400px

  &--is-fullheight
    min-height: 100vh

  &--is-primary
    background-color: $color-primary
    color: $color-white

  &--is-secondary
    background-color: $color-secondary
    color: $color-white

  &--is-danger
    background-color: $color-danger
    color: $color-white

  &--is-success
    background-color: $color-success
    color: $color-white

  &--is-gray

    &-one
      background-color: $color-gray-one
      color: $color-gray-seven

    &-two
      background-color: $color-gray-two
      color: $color-gray-seven

    &-three
      background-color: $color-gray-three
      color: $color-gray-seven

    &-four
      background-color: $color-gray-four
      color: $color-gray-seven

    &-five
      background-color: $color-gray-five
      color: $color-gray-seven

    &-six
      background-color: $color-gray-six
      color: $color-white

    &-seven
      background-color: $color-gray-seven
      color: $color-white

