@import '../variables'
@import '../mixins'


.container
  clear: both
  padding: $zero
  margin: $zero auto

  +for-size(mobile)

    width: $mobile-container-width
    width: $mobile-container-width

  +for-size(tablet)
    max-width: $tablet-container-width
    width: $tablet-container-width

  +for-size(desktop)
    max-width: $desktop-container-width
    width: $desktop-container-width

  &--is-full-width
    max-width: 100vw !important // sass-lint:disable-line no-important
    width: 100vw !important // sass-lint:disable-line no-important
