@import '../variables'
@import '../mixins'


.container
  $self: &
  height: 100%
  margin: $zero auto
  padding: $zero

  &#{$self}--has-sidebar
    display: flex
    flex-direction: row
    overflow: hidden

    > main
      flex: auto
      height: 100%

  +for-size(mobile)
    margin: $zero $mobile-column-gap
    width: calc(#{$mobile-container-width} - #{$mobile-column-gap * 2})

    &#{$self}--is-full-width-mobile
      margin: $zero
      width: $mobile-container-full-width

  +for-size(tablet)
    margin: $zero $tablet-column-gap
    width: calc(#{$tablet-container-width} - #{$tablet-column-gap * 2})

    &#{$self}--is-full-width-tablet
      margin: $zero
      width: $tablet-container-full-width

  +for-size(desktop)
    margin: $zero auto
    width: $desktop-container-width

    > #{$self}
      width: 100%

    &#{$self}--is-full-width
      margin: $zero
      width: $desktop-container-full-width
