@import '../variables'
@import '../mixins'


.container
  padding: $zero
  margin: $zero auto

  +for-size(mobile)
    width: calc(100vw - #{$mobile-column-gap * 2})
    margin: $zero $mobile-column-gap

    &--is-full-width-mobile
      width: 100vw
      margin: $zero

  +for-size(tablet)
    width: $tablet-container-width

    &--is-full-width-tablet
      width: 100vw
      margin: $zero

  +for-size(desktop)
    width: $desktop-container-width

    &--is-full-width
      width: 100vw
      margin: $zero
