@import '../variables'

.helper

  &--has-no-size
    padding: $zero !important // sass-lint:disable-line no-important

  &--has-size
    padding: $size-regular !important // sass-lint:disable-line no-important

    &-left
      padding-left: $size-regular !important // sass-lint:disable-line no-important

    &-right
      padding-right: $size-regular !important // sass-lint:disable-line no-important

    &-top
      padding-top: $size-regular !important // sass-lint:disable-line no-important

    &-bottom
      padding-bottom: $size-regular !important // sass-lint:disable-line no-important

    &-vertical
      padding-bottom: $size-regular !important // sass-lint:disable-line no-important
      padding-top: $size-regular !important // sass-lint:disable-line no-important

    &-horizontal
      padding-left: $size-regular !important // sass-lint:disable-line no-important
      padding-right: $size-regular !important // sass-lint:disable-line no-important

  +for-size(tablet)
    &--has-no-size-tablet
      padding: $zero !important // sass-lint:disable-line no-important

    &--has-size-tablet
      padding: $size-regular !important // sass-lint:disable-line no-important

    &--has-size
      padding: $size-regular !important // sass-lint:disable-line no-important

      &-left-tablet
        padding-left: $size-regular !important // sass-lint:disable-line no-important

      &-right-tablet
        padding-right: $size-regular !important // sass-lint:disable-line no-important

      &-top-tablet
        padding-top: $size-regular !important // sass-lint:disable-line no-important

      &-bottom-tablet
        padding-bottom: $size-regular !important // sass-lint:disable-line no-important

      &-vertical-tablet
        padding-bottom: $size-regular !important // sass-lint:disable-line no-important
        padding-top: $size-regular !important // sass-lint:disable-line no-important

      &-horizontal-tablet
        padding-left: $size-regular !important // sass-lint:disable-line no-important
        padding-right: $size-regular !important // sass-lint:disable-line no-important

  +for-size(mobile)
    &--has-no-size-mobile
      padding: $zero !important // sass-lint:disable-line no-important

    &--has-size-mobile
      padding: $size-regular !important // sass-lint:disable-line no-important

    &--has-size
      padding: $size-regular !important // sass-lint:disable-line no-important

      &-left-mobile
        padding-left: $size-regular !important // sass-lint:disable-line no-important

      &-right-mobile
        padding-right: $size-regular !important // sass-lint:disable-line no-important

      &-top-mobile
        padding-top: $size-regular !important // sass-lint:disable-line no-important

      &-bottom-mobile
        padding-bottom: $size-regular !important // sass-lint:disable-line no-important

      &-vertical-mobile
        padding-bottom: $size-regular !important // sass-lint:disable-line no-important
        padding-top: $size-regular !important // sass-lint:disable-line no-important

      &-horizontal-mobile
        padding-left: $size-regular !important // sass-lint:disable-line no-important
        padding-right: $size-regular !important // sass-lint:disable-line no-important
