@import './variables'
@import '../../mixins'


.grid__row
  +border-box
  display: flex
  flex-flow: row wrap
  flex-wrap: wrap
  padding: $zero

  &--is-reverse
    flex-direction: row-reverse

  +for-size(desktop)
    margin-left: -$desktop-column-gap
    margin-right: -$desktop-column-gap
    width: $desktop-container-width + $desktop-column-gap * 2

  +for-size(tablet)
    margin-left: -$tablet-column-gap
    margin-right: -$tablet-column-gap
    width: calc(100% + #{$tablet-column-gap * 2})

  +for-size(mobile)
    margin-left: -$mobile-column-gap
    margin-right: -$mobile-column-gap
    width: calc(100% + #{$mobile-column-gap * 2})

.grid__column
  +border-box
  flex: 1
  margin-left: $desktop-column-gap
  margin-right: $desktop-column-gap

  > .grid__row
    width: calc(100% + #{$desktop-column-gap * 2})

  &--is-first
    order: -1

  &--is-last
    order: 1

  &--is-auto
    flex: initial

  @each $name, $count in $percentages
    &--is-#{$name}
      max-width: calc(#{$count} - #{$desktop-column-gap * 2})

  +for-size(mobile)
    @each $name, $count in $percentages
      &--is-#{$name}
        max-width: calc(#{$count} - #{$mobile-column-gap * 2})

  +for-size(tablet)
    margin-left: $tablet-column-gap
    margin-right: $tablet-column-gap

    > .grid__row
      width: calc(100% + #{$tablet-column-gap * 2})

    &--is-first
      order: -1

    &--is-last
      order: 1

    &--is-auto
      flex: initial

    @each $name, $count in $percentages
      &--is-#{$name}-tablet
        max-width: calc(#{$count} - #{$tablet-column-gap * 2})

  +for-size(mobile)
    margin-left: $mobile-column-gap
    margin-right: $mobile-column-gap

    > .grid__row
      width: calc(100% + #{$mobile-column-gap * 2})

    &--is-first
      order: -1

    &--is-last
      order: 1

    &--is-auto
      flex: initial

    @each $name, $count in $percentages
      &--is-#{$name}-mobile
        max-width: calc(#{$count} - #{$mobile-column-gap * 2})
