.card
  $self: &
  +box-shadow-large
  background-color: $card-background
  border-radius: $radius
  overflow: hidden

  &#{$self}--has-no-border-radius
    border-radius: $zero

  &#{$self}--has-no-shadow
    box-shadow: none

  #{$self}__header
    +clearfix

  #{$self}__content
    padding: $size-regular

  #{$self}__footer
    padding: $size-regular
