$button-size-extra-small: 24px
$button-size-small: 32px
$button-size-regular: 40px
$button-size-large: 48px
$button-size-extra-large: 60px


=buttons
  height: 100%
  overflow-x: scroll
  padding: $size-extra-small $zero

.buttons
  +flex-row

  +for-size(mobile)
    +buttons

  +for-size(tablet)
    +buttons

  .button
    &:not(.button--is-square):not(.button--is-circle)
      min-width: 140px

      &:not(:last-child) // sass-lint:disable-line force-pseudo-nesting
        margin-right: $size-regular


.button
  $self: '.button'
  -webkit-appearance: none
  -moz-appearance: none
  align-items: center
  background-color: transparent
  background-position: center
  border: transparent solid $border-width
  border-radius: $radius
  box-shadow: none
  color: $color-text
  cursor: pointer
  display: flex
  float: left
  font-size: $text-button-size
  font-weight: $text-button-weight
  height: $button-size-regular
  justify-content: center
  letter-spacing: $text-button-letter-spacing
  line-height: $text-button-line-height
  max-width: auto
  outline: none !important
  padding: $zero $size-regular
  transition: border-color $transition $easing, color $transition $easing, background $transition-click $easing
  white-space: nowrap
  width: auto

  &:not(:only-child):not(:last-child)
    margin-right: $size-regular

  &#{$self}--is-extra-small
    height: $button-size-extra-small

  &#{$self}--is-small
    height: $button-size-small

  &#{$self}--is-large
    height: $button-size-large

  &#{$self}--is-extra-large
    height: $button-size-extra-large

  &#{$self}--has-icon
    +flex-center(row)

    #{$self}__text
      flex: 1
      flex-basis: 100%

  svg
    &:first-child
      margin-right: $size-regular

    &:last-child
      margin-left: $size-regular

    path // sass-lint:disable-line nesting-depth
      &:not([fill]) // sass-lint:disable-line nesting-depth
        fill: currentColor

  &#{$self}--is-hover,
  &:hover
    background: map-get($button-background-hovered-map, default)

  &:focus
    background: map-get($button-background-focused-start-map, default) radial-gradient(circle, transparent 1%, map-get($button-background-focused-end-map, default) 1%) center / 15000%

  &#{$self}--is-active,
  &:active
    background-size: 100%
    transition: background 0s, border 0s

  &:disabled,
  &#{$self}--is-disabled
    color: map-get($button-color-disabled-map, default)
    cursor: not-allowed
    pointer-events: none

  &#{$self}--is-outline
    border-color: map-get($button-outlined-border-map, default)

    &:hover,
    &:focus,
    &:active
      border-color: map-get($button-outlined-border-map, default)

    &:disabled,
    &#{ $self }--is-disabled
      border-color: map-get($button-outlined-border-disabled-map, default)
      color: map-get($button-outlined-color-disabled-map, default)

  &#{$self}--is-link
    color: $color-secondary
    text-decoration: underline

    &#{ $self }--is-disabled
      color: map-get($button-outlined-color-disabled-map, default)

  &#{$self}--is-square,
  &#{$self}--is-circle
    max-width: auto
    padding: $zero !important
    width: $button-size-regular

    &#{$self}--is-extra-small
      height: $button-size-extra-small
      width: $button-size-extra-small

    &#{$self}--is-small
      height: $button-size-small
      width: $button-size-small

    &#{$self}--is-large
      height: $button-size-large
      width: $button-size-large

    &#{$self}--is-extra-large
      height: $button-size-extra-large
      width: $button-size-extra-large

    svg
      &:first-child
        margin-right: $zero

      &:last-child
        margin-left: $zero

  &#{$self}--is-circle
    border-radius: 50%

  @each $color, $value in $button-background-map
    &#{$self}--is-#{ $color }
      +shadow-small
      background-color: $value
      color: map-get($button-color-map, $color)

      &#{ $self }--is-hover,
      &:hover
        background-color: map-get($button-background-hovered-map, $color)

      &:focus
        +shadow-extra-small
        background: map-get($button-background-focused-start-map, $color) radial-gradient(circle, transparent 1%, map-get($button-background-focused-end-map, $color) 1%) center / 15000%

      &#{ $self }--is-active,
      &:active
        background-size: 100%
        transition: background 0s, border 0s

      &:disabled,
      &#{ $self }--is-disabled
        background-color: map-get($button-background-disabled-map, $color)
        border-color: map-get($button-border-disabled-map, $color)

      &#{ $self }--is-outline
        background-color: transparent
        border-color: map-get($button-outlined-border-map, $color)
        box-shadow: none
        color: map-get($button-outlined-color-map, $color)

        &#{ $self }--is-hover,
        &:hover
          background-color: map-get($button-outlined-background-hovered-map, $color)

        &:focus
          background: map-get($button-outlined-background-focused-start-map, $color) radial-gradient(circle, transparent 1%, map-get($button-outlined-background-focused-end-map, $color) 1%) center / 15000%
          color: map-get($button-outlined-color-focused-map, $color)

        &#{ $self }--is-active,
        &:active
          background-size: 100%
          transition: background 0s, border 0s

        &:disabled,
        &#{ $self }--is-disabled
          background-color: transparent
          border-color: map-get($button-outlined-border-disabled-map, $color)
          color: map-get($button-outlined-color-disabled-map, $color)

