=buttons
  -ms-overflow-style: -ms-autohiding-scrollbar // sass-lint:disable-line no-vendor-prefixes
  height: 100%
  overflow-x: scroll
  padding: $zero
  scrollbar-width: none // sass-lint:disable-line no-misspelled-properties

  &::-webkit-scrollbar // sass-lint:disable-line no-vendor-prefixes
    width: 0

.buttons
  +flex-row

  +for-size(mobile)
    +buttons

  +for-size(tablet)
    +buttons

  .button
    &:not(.button--is-square):not(.button--is-circle) // sass-lint:disable-line force-pseudo-nesting nesting-depth
      min-width: 140px

      &:not(:last-child) // sass-lint:disable-line force-pseudo-nesting nesting-depth
        margin-right: $size-regular


.button
  $self: '.button'
  +unselectable
  -moz-appearance: none // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none // sass-lint:disable-line no-vendor-prefixes
  align-items: center
  background-color: transparent
  background-position: center
  border: transparent solid $border-width
  border-radius: $radius
  box-shadow: none
  color: $color-text
  cursor: pointer
  display: flex
  float: left
  font-size: $text-button-size
  font-weight: $text-button-weight
  height: $button-size-regular
  justify-content: center
  letter-spacing: $text-button-letter-spacing
  line-height: $text-button-line-height
  max-width: auto
  outline: none !important // sass-lint:disable-line no-important
  padding: $button-gap
  transition: border-color $transition $easing, color $transition $easing, background $transition-click $easing
  white-space: nowrap
  width: auto

  &:not(:only-child):not(:last-child) // sass-lint:disable-line force-pseudo-nesting
    margin-right: $size-regular

  &#{$self}--is-extra-small
    height: $button-size-extra-small

  &#{$self}--is-small
    height: $button-size-small

  &#{$self}--is-large
    height: $button-size-large

  &#{$self}--is-extra-large
    height: $button-size-extra-large

  &#{$self}--has-icon
    +flex-center(row)

    #{$self}__text
      flex: 1
      flex-basis: 100%

  svg
    &:first-child
      margin-right: $size-regular

    &:last-child
      margin-left: $size-regular

    path // sass-lint:disable-line nesting-depth
      &:not([fill]) // sass-lint:disable-line nesting-depth
        fill: currentColor

  &#{$self}--is-hover,
  &:hover
    background: map-get($button-background-hover, default)

  &#{$self}--is-active,
  &:active
    +shadow-extra-small
    background: map-get($button-background-hover, default)

  &:disabled,
  &#{$self}--is-disable
    color: map-get($button-color-disable, default)
    cursor: not-allowed
    pointer-events: none

  &#{$self}--is-outline
    border-color: map-get($button-outline-border, default)

    &:hover,
    &:focus,
    &:active
      border-color: map-get($button-outline-border, default)

    &:disabled,
    &#{ $self }--is-disable
      border-color: map-get($button-outline-border-disable, default)
      color: map-get($button-outline-color-disable, default)

  &#{$self}--is-link
    color: $color-secondary
    text-decoration: underline

    &#{ $self }--is-disable
      color: map-get($button-outline-color-disable, default)

  &#{$self}--is-square,
  &#{$self}--is-circle
    max-width: auto
    padding: $zero !important // sass-lint:disable-line no-important
    width: $button-size-regular

    &#{$self}--is-extra-small
      height: $button-size-extra-small
      width: $button-size-extra-small

    &#{$self}--is-small
      height: $button-size-small
      width: $button-size-small

    &#{$self}--is-large
      height: $button-size-large
      width: $button-size-large

    &#{$self}--is-extra-large
      height: $button-size-extra-large
      width: $button-size-extra-large

    svg
      &:first-child
        margin-right: $zero

      &:last-child
        margin-left: $zero

  &#{$self}--is-circle
    border-radius: 50%

  @each $color, $value in $button-background
    &#{$self}--is-#{ $color }
      +shadow-small
      background-color: $value
      color: map-get($button-color, $color)

      &#{ $self }--is-hover,
      &#{ $self }--is-active,
      &:active,
      &:hover
        background-color: map-get($button-background-hover, $color)

      &#{ $self }--is-active,
      &:active
        +shadow-extra-small

      &:disabled,
      &#{ $self }--is-disable
        background-color: map-get($button-background-disable, $color)
        border-color: map-get($button-border-disable, $color)

      &#{ $self }--is-outline
        background-color: transparent
        border-color: map-get($button-outline-border, $color)
        box-shadow: none
        color: map-get($button-outline-color, $color)

        &#{ $self }--is-hover,
        &:hover
          background-color: map-get($button-outline-background-hover, $color)

        &#{ $self }--is-active,
        &:active,
        &:focus
          background-color: map-get($button-outline-background-active, $color)
          box-shadow: none
          color: map-get($button-outline-color-focus, $color)

        &:disabled,
        &#{ $self }--is-disable
          background-color: transparent
          border-color: map-get($button-outline-border-disable, $color)
          color: map-get($button-outline-color-disable, $color)

