=buttons
  overflow-x: scroll
  padding: $size-extra-small $zero
  scroll-direction: horizontal // sass-lint:disable-line no-misspelled-properties


.buttons
  +flex-row

  +for-size(mobile)
    +buttons

  +for-size(tablet)
    +buttons

  .button
    min-width: 140px

    &:not(:last-child) // sass-lint:disable-line force-pseudo-nesting
      margin-right: $size-regular


.button
  $self: '.button'
  +flex-center(row)
  background-color: transparent
  background-position: center
  border: transparent solid $border-width
  border-radius: $radius
  color: $color-text
  cursor: pointer
  float: left
  font-size: $text-button-size
  font-weight: $text-button-weight
  letter-spacing: $text-button-letter-spacing
  line-height: $text-button-line-height
  max-width: auto
  outline: none
  padding: $size-small $size-regular
  transition: background $transition $easing, border-color $transition $easing, color $transition $easing, background $transition-click
  width: auto

  &__icon
    display: flex
    justify-content: center
    width: 28px

    svg
      path // sass-lint:disable-line nesting-depth
        &:not([fill]) // sass-lint:disable-line nesting-depth
          fill: currentColor

  &__text
    flex: 1
    flex-basis: 100%

  &--has-content-center
    #{$self}__text
      flex: $zero
      flex-basis: 100%

  &:hover
    background: map-get($button-background-hovered-map, default)

  &:focus
    background: map-get($button-background-focused-map, default) radial-gradient(circle, transparent 1%, map-get($button-background-focused-transition-map, default) 1%) center / 15000%

  &:active
    background-size: 100%
    transition: background 0s, border 0s

  &:disabled,
  &--is-disabled
    color: map-get($button-color-disabled-map, default)
    cursor: default
    pointer-events: none

  &--is-outline
    border-color: map-get($button-outlined-border-map, default)
    box-shadow: none !important

    &:hover,
    &:focus,
    &:active
      border-color: map-get($button-outlined-border-map, default)

    &:disabled,
    &#{ $self }--is-disabled
      border-color: map-get($button-outlined-border-disabled-map, default)
      color: map-get($button-outlined-color-disabled-map, default)

  &--is-link
    color: $color-secondary
    text-decoration: underline

    &#{ $self }--is-disabled
      color: map-get($button-outlined-color-disabled-map, default)

  @each $color, $value in $button-background-map
    &#{$self}--is-#{ $color }
      +box-shadow
      background-color: $value
      color: map-get($button-color-map, $color)

      &:hover
        background-color: map-get($button-background-hovered-map, $color)

      &:focus
        background: map-get($button-background-focused-map, $color) radial-gradient(circle, transparent 1%, map-get($button-background-focused-transition-map, $color) 1%) center / 15000%

      &:active
        background-size: 100%
        box-shadow: $zero 1px 1px $color-shadow-light, $zero 1px 1px $color-shadow
        transition: background 0s

      &:disabled,
      &#{ $self }--is-disabled
        background-color: map-get($button-background-disabled-map, $color)
        border-color: map-get($button-border-disabled-map, $color)
        box-shadow: none

      &#{ $self }--is-outline
        background-color: transparent
        border-color: map-get($button-outlined-border-map, $color)
        color: map-get($button-outlined-color-map, $color)

        &:hover
          background-color: map-get($button-outlined-background-hovered-map, $color)

        &:disabled,
        &#{ $self }--is-disabled
          background-color: transparent
          border-color: map-get($button-outlined-border-disabled-map, $color)
          color: map-get($button-outlined-color-disabled-map, $color)
